<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>Cloak</string>
        <key>CFBundleDisplayName</key>
        <string>Cloak</string>
        <key>CFBundleExecutable</key>
        <string>cloak</string>
        <key>CFBundleIconFile</key>
        <string>Cloak</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>NSHighResolutionCapable</key>
        <string>True</string>
        <key>LSBackgroundOnly</key>
        <string>0</string>
        <key>LSUIElement</key>
        <string>1</string>
    </dict>
</plist>
